body {

    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

h1 {
    color: white;
}

p {
    z-index: 1;
    color: rgb(255, 255, 255);
}

#particles-js {
    position: fixed;
}

#map {
    height: 30rem;
    width: 50rem;
    border-radius: 1rem;

    overflow: hidden;
}

#MAPHOLDER {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mh2 {
    border: 2px solid rgba(255, 255, 255, 0);

    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: padding 200ms ease-in-out, border 200ms ease-in-out;
}

#mh2:hover {
    border: 2px solid white;

    padding: 1rem;
    transition: padding 200ms ease-in-out, border 200ms ease-in-out;
}

#logo {
    margin-left: 2%;
    transition: color 300ms;
}

#logo:hover {
    color: aqua;
}