@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
}

:root{
    --accent:rgb(32, 245, 196);
    --radius:1rem
}
body{
    font-family: 'poppins';
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }


nav{
   
    position: fixed;
    width: 100vw;
    height: 3rem;
    background: rgb(15, 15, 15);

    display: flex;
    align-items: center;
    justify-content: space-between;
    .links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin-right: 1rem;
    }
    a{
        text-align: center;
        text-decoration: none;
        color: aliceblue;
        transition: 500ms;
        &:hover{
            color: var(--accent);
        }
    }
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    img{
      
        height: 2rem;
    }
}

#mn{
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        border-radius: var(--radius);
      width: 90vw;
    }
    h1{
        font-family: 'Berkshire Swash', cursive;
    }
    
}