@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
}
* ::-webkit-scrollbar {
  display: none;
}

:root {
  --accent:rgb(32, 245, 196);
  --radius:1rem ;
}

body {
  font-family: "poppins";
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

nav {
  position: fixed;
  width: 100vw;
  height: 3rem;
  background: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-right: 1rem;
}
nav a {
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  transition: 500ms;
}
nav a:hover {
  color: var(--accent);
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-family: "Berkshire Swash", cursive;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
#logo img {
  height: 2rem;
}

#mn {
  padding-top: 4rem;
  display: flex;
  align-self: center;
}
#mn img {
  height: 90vh;
  width: 40vw;
  -o-object-fit: cover;
     object-fit: cover;
}
#mn h1 {
  font-family: "Berkshire Swash", cursive;
}

.card {
  border: 0.12rem solid black;
  background: rgb(255, 255, 255);
  border-radius: var(--radius);
  width: 20rem;
  height: 25rem;
}

.accCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.accCard input {
  width: 80%;
  border: 0.12rem solid black;
  border-radius: var(--radius);
  padding: 0.6rem;
}
.accCard button {
  width: 80%;
  border: 0.12rem solid black;
  border-radius: var(--radius);
  padding: 0.6rem;
  transition: 500ms;
}
.accCard button:hover {
  background: var(--accent);
}

#cardHolder {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bg {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#accountTypes {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#accountTypes a {
  background: azure;
  width: 25%;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 0.12rem solid black;
  border-radius: var(--radius);
  padding: 0.6rem;
  transition: 500ms;
}
#accountTypes a:hover {
  background: var(--accent);
}

.bus {
  width: 80vw;
  background: azure;
  color: black;
  border: 0.12rem solid black;
  border-radius: var(--radius);
  padding: 0.6rem;
  transition: 500ms;
}
.bus .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.bus h3 {
  font-weight: 400;
}
.bus span {
  transition: 100ms;
}
.bus span:hover {
  color: var(--accent);
}

#Busses {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
